# Проигнорируйте файлы, находящиеся в подкаталоге tmp и файлы, заканчивающиеся суффиксами _old, _backup. Любые символы можно заменить символом звёздочка *.
# Добейтесь чтобы также были проигнорированы файлы Thumbs.db и .DS_Store.

# игнорируем файлы в подкатологе tmp
/tmp

# игнорируем файлы, заканчивающиеся суффиксами _old, _backup
*_old
*_backup

# игнорируем файлы Thumbs.db
Thumbs.db

# игнорируем файлы .DS_Store
DS_Store